*.[oax]
*~*
job.*
log.*
*.log
slurm*
diaginfo.dat
tracerinfo.dat
geos
core.*
initial_GEOSChem_rst*
OutputDir/Baseline/GEOSChem.*nc4*
OutputDir/Rockets/GEOSChem.*nc4*
OutputDir/Spinup/GEOSChem.*nc4*
OutputDir/Baseline/HEMCO_diagnostics*
OutputDir/Rockets/HEMCO_diagnostics*
OutputDir/Spinup/HEMCO_diagnostics*
CodeDir
build
Plots
Results
BenchmarkResults
rundir.version
runScriptSamples
README
compile_gcclassic*
run_gcclassic*
build_info
Heating_Baseline
Restarts/**/GEOSChem.Restart.*
